<% provide(:page_title, "Edit Transporter") %>


<h1 class='headingspace'>Editing Transporter</h1>

<%= render 'form', transporter: @transporter %>

<hr>
<%= link_to 'Show Transporter', company_transporter_path(@user,@transporter) %> |
<%= link_to 'Back to Transporters', company_transporters_path(@user) %>
<hr>
