<div class="card mb-2  ">
  <div class="card-body senderRecipient-card pl-1"> 
    <div class="col-md-12 my-2">
      <div class="row">
        <div class="d-inline col-sm-6 company-headings bolds">
          <%= Order.human_attribute_name(:company) %>
        </div>
        <div class="d-inline col-sm-6 mb-3 company-values">
         <%= @order.transporter.company.name  %>
        </div>
      </div> 
      <div class="row">
        <div class="d-inline col-sm-6 transporter-headings bolds ">
          <%= Order.human_attribute_name(:transporter_id) %>
        </div>
        <div class="d-inline col-sm-6 mb-3 transporter-values">
         <%= @order.transporter.name  %>
        </div>
      </div> 
    </div>
  </div>
</div>


