<!-- No Edition is allowed -->

<div class="headingspace">
  <h1 class="headingspace"> <%= t (:restrict_title) %></h1>
    <h3> <%= t (:restrict_body1) %></h3>
    <br>
    <h3 class="h3Space"><%= t (:restrict_body2) %></h3>
</div>