<% if  @user.class.name == "Company" %>
  <td><%= order.company_earning.present? ? order.company_earning : "0"%></td>
<% elsif  @user.class.name == "Transporter" %>
  <td><%= order.transporter_earning.present? ? order.transporter_earning : "0"%></td>
<% else  @user.class.name == "Admin" %>
  <td><%= order.admin_earning.present? ? order.admin_earning : "0"%></td>
<% end %>
