<% provide(:page_title, "Edit Order") %>


<hr> 
<div class="d-flex justify-content-center" > 
	<%= render 'orders/actionButtons' %>
</div>
<hr>

<%= render 'orders/securedEdit' %>

<hr> 
<div class="d-flex justify-content-center" > 
	<%= render 'orders/actionButtons' %>
</div>
<hr>
<br>




