<% provide(:page_title, "Edit Order") %>


<hr> 
<div class="row justify-content-center" > 
<!-- <div class="row buttons btn-group " > -->
	<%= render 'orders/actionButtons' %>
</div>
<hr>

<%= render 'orders/securedEdit' %>

<hr> 
<div class="row justify-content-center" > 
	<%= render 'orders/actionButtons' %>
</div>
<hr>
<br>



