<%= render 'orders/headingUserOrdersTypes' %>

<div class="row card indextable">
    <%= render "orders/indexTable" %>  
</div>

<div class="d-flex justify-content-center my-5">
  <%= render 'orders/map' %>
</div>

<br>