<% provide(:page_title, "New Order") %>


<hr> 
<div class="row buttons btn-group " > 
	<%= render 'orders/actionButtons' %>
</div>
<hr>

<h2 class='headingspace'>New Order</h2>
	<%= render 'form', order: @order %>


<hr> 
<div class="row buttons btn-group " > 
	<%= render 'orders/actionButtons' %>
</div>
<hr>
<br>
