<h1 class='headingspace'>New Order</h1>

<hr>
  | <%= link_to 'Back to Orders', url_for([@user, :orders]) %> |
<hr>

<%= render 'form', order: @order %>

<hr>
  | <%= link_to 'Back to Orders', url_for([@user, :orders]) %> |
<hr>
