<p id="notice"><%= notice %></p>

<hr> 
<div class="buttons"> 
	<%= render 'orders/actionButtons' %>
</div>
<hr>

<%= render 'orders/info' %>
<hr> 

<div class="buttons"> 
	<%= render 'orders/actionButtons' %>
</div>
<hr>
<br>
