<p id="notice"><%= notice %></p>


 <%= render 'orders/actionButtons' %>
<hr>
<%= render 'orders/info' %> <!-- Commented for testing Validations -->

<hr>
<br>
<br>
<br>

  <%= render 'orders/actionButtons' %>

<hr>
<br>
<br>
<br>
<br>
<br>
<br>