<% provide(:page_title, "Show Order") %>


<hr> 
<div class="row justify-content-center"> 
	<%= render 'orders/actionButtons' %>
</div>
<hr>

<%= render 'orders/info' %>

<!-- !! EPAYCO !!! -->
<!--<div class="buttons"> 
	<%#= render 'epayco/result' %>
</div> -->

<% if @order.status == 'draft' %>
	<%= render 'orders/pay_with', order: @order, user: @user %>
<% end %>

<hr> 
<div class="row justify-content-center"> 
	<%= render 'orders/actionButtons' %>
</div> 
<hr>
<br>


