<% provide(:page_title, "Show Order") %>


<hr> 
<div class="row justify-content-center"> 
	<%= render 'orders/actionButtons' %>
</div>
<hr>

<%= render 'orders/info' %>

<!-- !! EPAYCO !!! -->
<!--<div class="buttons"> 
	<%#= render 'epayco/result' %>
</div> -->

<% if @order.status == 'draft' %>
	<%= render 'orders/pay_with', order: @order, user: @user %>
<% end %>

<hr> 
<div class="row justify-content-center"> 
	<%= render 'orders/actionButtons' %>
</div> 
<hr>
<br>





<!-- THIS COULD BE USED TO ALERT WITH SOUNDS. CURRENTLY NEEDS TO GET PERMISSION FROM THE USER, TO BE CHECKED 
<audio id="mysoundclip" preload="auto">
  <source src="triangle-Dinner-Bell.wav"></source>
</audio>




<script>
   // $(document).ready(function() {
    	var message2Alert = $('#notice').text()
    	var audio = $("#mysoundclip")[0];
		  if (message2Alert.includes("Orderwas successfully updated")){  // This is only because this is the example I'm using at the moment
		    console.log(message2Alert) 
		    console.log(audio);        
        audio.play();
       
		  } else {
		  console.log(" It doesn't")
		  }
	
</script>
 -->