<h1 class='headingspace my-5 ml-5'>Editing Company</h1>

<%= render 'form', company: @user %>




<hr> 
<div class="row buttons btn-group " > 
	<%#= render 'companies/actionButtons' %>
</div>
<hr>
<br>


<!-- 

<hr>
| <%#= link_to 'Back to Company', @user %> |
<hr> -->
