<% provide(:page_title, "New Company") %>


<h2 class='headingspace my-5 ml-5'>New Company</h2>
	<%= render 'form', company: @user %>




<!--<h1 class='headingspace'>New Company</h1>

<%#= render 'form', company: @user %>

<hr>
<%#= link_to 'Back', companies_path %>  THIS BUTTON DOESN'T EXIST ON NEW.
<hr>-->
