
<!-- Wait to have the Devise logggin to finish implementing the buttons 


<hr> 
<div class="row buttons btn-group " > 
	<%#= render 'companies/actionButtons' %>
</div>
<hr>-->

<h2 class='headingspace my-5 ml-5'>New Company</h2>
	<%= render 'form', company: @user %>


<hr> 
<div class="row buttons btn-group " > 
	<%#= render 'companies/actionButtons' %>
</div>
<hr>
<br>




<!--<h1 class='headingspace'>New Company</h1>

<%#= render 'form', company: @user %>

<hr>
<%#= link_to 'Back', companies_path %>  THIS BUTTON DOESN'T EXIST ON NEW.
<hr>-->
