
.company-card-location {
    background-color: #00fffe !important;
}

.company-top-card, .company-status{
	font-size: 1.32rem;
}
.comp-status {
    font-size: 1.32rem !important;
}

.company-status {
		margin-left: 0 !important;
		padding-right: 0 !important;
}

.company-location {
		h3{
			font-size: 1.3rem !important;
		}
}
.company-status-card {
	width: 80% !important;
}

.name, .telephone, .email, .comp-status {
	text-align: right !important;
}
.company-name, .company-telephone, .company-email, .company-status {
	text-align: left !important;
	border-color: #ffffff24 !important;
}

/*.company-status {
		margin-left: 20px;
}*/

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 992px) { 
	.company-location {
		h3{
			font-size: 1.44rem !important;
		}
	}
}

/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {
  
 	.comp-name, .comp-telephone, .comp-email, .comp-status {
		font-size: 1rem !important;
	}

  	.company-name, .company-telephone, .company-email, .company-status {
		font-size: 1rem !important;
	}

	.company-location {
		h3{
			font-size: 1.35rem !important;
		}
	}
}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

	.name, .telephone, .email, .comp-status {
		text-align: center !important;
	}

	.company-name, .company-telephone, .company-email, .company-status {
	    text-align: center !important;
	}

	.company-status-card {
		width: 100% !important;
	}

	.company-location {
		h3{
			font-size: 1.3rem !important;
		}
	}

	.company-status {
    padding-left: 38% !important;
  }

}

/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (max-width:568px) and (min-width:500px) {
	input#company_name, input#company_telephone, input#company_email, input#company_name {
	    text-align: center !important;
		}

	.company-status {
    padding-left: 41% !important;
  }
}

@media (max-width:568px) and (min-width:500px) {
  .name, .telephone, .email, .comp-status {
    text-align: center !important;
  }
}