
.company-card-location {
    background-color: #00fffe !important;
}


.company-top-card, .company-rad-status{
	font-size: 1rem;
}

.company-location {
		h3{
			font-size: 1.3rem !important;
		}
}
.company-status-card {
	width: 80% !important;
}

.name, .telephone, .email, .status {
	text-align: right !important;
}
.company-name, .company-telephone, .company-email, .company-status {
	text-align: left !important;
	border-color: #ffffff24 !important;
}

.company-status {
		margin-left: 20px;
    max-width: 180px !important;
}


/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 992px) { 
	.company-location {
		h3{
			font-size: 1.44rem !important;
		}
	}
}

/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {
  
 	.name, .telephone, .email, .status {
		font-size: 1rem !important;

	}

  	.company-name, .company-telephone, .company-email, .company-status {
		font-size: 1rem !important;
	}

	.company-location {
		h3{
			font-size: 1.35rem !important;
		}
	}
}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

	.name, .telephone, .email, .status {
		text-align: center !important;
	}

	.company-name, .company-telephone, .company-email, .company-status {
	    text-align: center !important;
	}

	.company-status-card {
		width: 100% !important;
	}

	.company-location {
		h3{
			font-size: 1.3rem !important;
		}
	}

}


