.company-card-location {
    background-color: #00fffe !important;
}


.companyLocation {
	padding-right: 0 !important;
    padding-left: 0 !important;
}

.company-Showlabels {
  text-align: right !important; 
}

.company-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
} 

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {
  
 	/*.name, .telephone, .email, .status {
		font-size: 1.2rem !important;

	}

  	.company-name, .company-telephone, .company-email, .company-status {
		font-size: 1rem !important;
	}*/

	.company-Showlabels {
	max-width: 47% !important;
    padding-right:0 !important;
    text-align: right !important; 
	}

	.company-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
	} 

}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

	.name, .telephone, .email, .status {
		text-align: center !important;
	}

	.company-name, .company-telephone, .company-email, .company-status {
	    text-align: center !important;
	}

	.company-status-card {
		width: 100% !important;
	}

  .sender-status-edit {
    padding-right: 0 !important;
  }

}

@media (max-width: 568px) and (min-width: 500px) {
  .company-Showlabels, .company-Showinputs {
    text-align: center !important;    
  }

  .company-Showinputs {
    max-width: none !important;
  }

  .company-show-Status {
    padding-right: 6% !important;

  }
}
