.indextable {
  overflow-x: scroll;
  margin-left: 0 !important;
}

.headingspace {
  margin-bottom: 3rem;
  font-size: 2rem !important;
}

.h3Space{
  margin-bottom: 3.8rem;
  font-size: 1.5rem !important;
}

.tableHeadingbar {
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;

    th {
    font-size: 1.1rem !important;
    font-weight: 330 !important;
    }
}

.tableValues td {
    font-size: 0.98rem !important;
  }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
     background-color: #cef8fd !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:  #5ec7ed !important;
}

.sender {
  margin-top: 2.2rem;
  font-size: 1.44rem;
}

.top-card, .recipient, .cost-label {
    font-size: 1.05rem;
}

.card-body-left {
  background-color: #78a9ba;
}


.card-body-right {
  background-color: #85ad94;
}
.card-header {
  padding-top: 2rem; 
  margin-bottom: 2rem !important;
}
.address {
  margin-bottom: 2rem !important;
  width: 90% !important;
}


.maps-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.leaflet-container {
    height: 400px;
    width: 90% !important;
}

.pickup-time, .delivery-time{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipient {
  margin-bottom: 4rem;
  h3{
  margin-bottom: 4rem;
  }
}

.order-create-update-buttons {
   margin-top: 4rem;
   margin-bottom: 4rem;
}

#map {
    margin-left: 0px !important;
}

/*.map-no-border {
  border:0 !important;
}*/

.card-left, .card-right {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


.description, .weight, .length, .width, .height, .recipient-name-label, .telephone-label, .email-label, .cost-label {
    max-width: 25% !important;
    text-align: right !important;
}

#order_description, #order_weight, #order_length, #order_width, #order_heigth, .recipient-name-input, .telephone-input, .email-input, .cost-input {
  font-size: 1.12rem;
  max-width: 30% !important;
  border-color: #ffffff24 !important;
  text-align: left !important;
}

.hide_information {
    display: none !important;
}

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 1200px) and (orientation : portrait) {

  .description, .weight, .length, .width, .height, .cost-label  {
      max-width: 25% !important;
  }

  .space {
      margin-right: 140px !important;
  }

  #order_description, #order_weight, #order_length, #order_width, #order_heigth, .cost-input  {
      max-width: 30% !important;
  }

  .headingspace {
    margin-bottom: 2.5rem !important;
    font-size: 1.8rem !important;
  }
} 

/* ========================================================= */

@media (max-width: 992px) { 

  .time select {
        font-size: 1rem !important;
  }
  
  .description, .weight, .length, .width, .height, .cost-label {
      max-width: 25% !important;
  }

  #order_description, #order_weight, #order_length, #order_width, #order_heigth, .cost-input {
    max-width: 30% !important;
     
  }

  .recipient-name-input, .telephone-input, .email-input, .cost-input {
    font-size: 1rem !important;
  }

  .sender {
    font-size: 1.5rem !important;
  }

  .h3Space, .recipient-title {
    font-size: 1.44rem !important;
    margin-bottom: 2.5rem !important;
  }
   .description, .weight, .length, .width, .height, .recipient-name-label, .telephone-label, .email-label, .cost-label {
    font-size: 1.2rem !important;
  }

  .recipient-name-label, .telephone-label, .email-label, .cost-label {
      max-width: 15% !important;
  }  
}

/* ========================================================= */

@media (max-width: 862px)  and (min-width: 768px) and (orientation : portrait) {

  .time select {
        font-size: 0.7rem !important;
  }

  .space {
      margin-right: 170px !important;
  }

  .tableHeadingbar th  {
    font-size: 1rem !important;
  }

  .tableValues td {
    font-size: 0.88rem !important;
  }
}

/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {

  .pickup-label, .delivery-label {
    font-size: 1.4rem !important;
    max-width: 100% ;
  }

  .time select {
    font-size: 1.2rem !important;
  }

  .space {
      margin-right: 130px !important;
  }

  .tableHeadingbar th  {
    font-size: 0.95rem !important;
  }

  .tableValues td {
    font-size: 0.75rem !important;
  }
  .order-measurements {
    text-align: left !important;
  } 



  .description, .weight, .length, .width, .height, .recipient-name-label, .telephone-label, .email-label, .cost-label {
    max-width: 50% !important;
    text-align: right !important;
  }

  #order_description, #order_weight, #order_length, #order_width, #order_heigth, .recipient-name-input, .telephone-input, .email-input, .cost-input  {
    font-size: 0.98rem !important;
    text-align: left !important;
    max-width: 40% !important;
    border-color: #ffffff24;
  }

  .headingspace {
    margin-bottom: 2rem !important;
    font-size: 1.5rem !important;
  }
  .sender {
    font-size: 1.3rem !important;
  }

  .h3Space, .recipient-title {
    font-size: 1.35rem !important;
    margin-bottom: 2.5rem !important;
  }

}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

  .pickup-label, .delivery-label {
    font-size: 1.2rem !important;
    max-width: 100%;
  }

  .time select {
    font-size: 1rem !important;
  }

  .description, .weight, .length, .width, .height, .recipient-name-label, .telephone-label, .email-label, .cost-label {
    font-size: 1rem !important;
    text-align: center !important;
    max-width: 100% !important;
  }

  /*#order_description {
    max-width: 100% !important;
  }*/


  #order_description, #order_weight, #order_length, #order_width, #order_heigth, .recipient-name-input, .telephone-input, .email-input, .cost-input  {
    font-size: 1rem !important;
    text-align: center !important;
    max-width: 274px !important;
  }

  .h3Space, .recipient-title {
    font-size: 1.3rem !important;
    margin-bottom: 2.5rem !important;
  }
}

/* ========================================================= */

@media (max-width: 460px)  and (min-width: 440px) and (orientation : portrait) {

  .time select {
    font-size: 0.8rem !important;
  }
}                          

/* ========================================================= */


@media (max-width: 440px) and (orientation : portrait) {
  
  .card-left, .card-right {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }


  .time select {
    font-size: 0.7rem !important;
  }

  .space {
      margin-right: 80px !important;
  }

  .sender {
    font-size: 1.2rem !important;
  }

}

/* ========================================================= */

@media (max-width: 400px) and (orientation : portrait) {

  .time select {
    font-size: 0.6rem !important;
  }

  .space {
      margin-right: 20px !important;
  }

  .sender {
    font-size: 1.2rem !important;
  }
}


/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (min-width: 1024px) and (orientation : landscape) {

  .space {
      margin-right: 120px !important;
  }
}

@media (max-width: 1024px) and (orientation : landscape) {

  .space {
      margin-right: 90px !important;
  }
}
