


.sender-card-location {
    background-color: #00fffe !important;
}


.senderLocation {
	padding-right: 0 !important;
    padding-left: 0 !important;
}

.sender-Showlabels {
  text-align: right !important; 
}

.sender-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
} 

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 1200px) and (orientation : portrait) {



} 

/* ========================================================= */

@media (max-width: 992px) { 




}

/* ========================================================= */

@media (max-width: 870px)  and (min-width: 768px) and (orientation : portrait) {



}

/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {
  
 	/*.name, .telephone, .email, .status {
		font-size: 1.2rem !important;

	}

  	.sender-name, .sender-telephone, .sender-email, .sender-status {
		font-size: 1rem !important;
	}*/

	.sender-Showlabels {
	max-width: 47% !important;
    padding-right:0 !important;
    text-align: right !important; 
	}

	.sender-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
	} 

}

/* ========================================================= */

@media (max-width: 650px) and (orientation : portrait) {



}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

	.name, .telephone, .email, .status {
		text-align: center !important;
	}

	.sender-name, .sender-telephone, .sender-email, .sender-status {
	    text-align: center !important;
	}

	.sender-status-card {
		width: 100% !important;
	}

}

/* ========================================================= */

@media (max-width: 500px) and (orientation : portrait) {

}

/* ========================================================= */

@media (max-width: 440px) and (orientation : portrait) {

  


}

/* ========================================================= */

@media (max-width: 410px) and (orientation : portrait) {
	

}

/* ========================================================= */

@media (max-width: 400px) and (orientation : portrait) {



}

/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (min-width: 1024px) and (orientation : landscape) {
  


}

