/*.container-show {
	width: 150vmin !important;
}
*/

.sender-card-location {
    background-color: #00fffe !important;
}


.senderLocation {
	padding-right: 0 !important;
    padding-left: 0 !important;
}

.sender-Showlabels {
  text-align: right !important; 
}

.sender-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
} 

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {

	.sender-Showlabels {
	max-width: 47% !important;
    padding-right:0 !important;
    text-align: right !important; 
	}

	.sender-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
	} 

}

/* ========================================================= */

@media (max-width: 576px) and (orientation : landscape) {

	.sender-name, .sender-telephone, .sender-email, .sender-status {
	    text-align: center !important;
	}
}

@media (max-width: 568px) and (min-width: 500px) {
  .sender-Showlabels, .sender-Showinputs {
    text-align: center !important;    
  }

  .sender-Showinputs {
    max-width: none !important;
  }

  .sender-show-Status {
    padding-right: 5% !important;

  }
}
