.sender-top-card, .sender-status{
	font-size: 1.32rem;
}

.sender-card-location {
    background-color: #00fffe !important;
}

.send-status {
    font-size: 1.32rem !important;
}

.sender-status {
		margin-left: 0 !important;
		padding-right: 0 !important;
}

.sender-status-card {
	width: 80% !important;
}

.send-name, .send-telephone, .send-email, .send-status {
	 text-align: right !important;
}

.sender-name, .sender-telephone, .sender-email, .sender-status {
	text-align: left !important;
	border-color: #ffffff24 !important;
}

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {
  
  .send-name, .send-telephone, .send-email, .send-status {
		font-size: 1rem !important;

	}

  	.sender-name, .sender-telephone, .sender-email, .sender-status {
		font-size: 1rem !important;
	}

  .send-name, .send-telephone, .send-email, .send-status {
    text-align: right !important;
    max-width: 65% !important;
  }

}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

	 .send-name, .send-telephone, .send-email, .send-status  {
		text-align: center !important;
	}

	.sender-name, .sender-telephone, .sender-email, .sender-status {
	    text-align: center !important;
	}

	.sender-status-edit {
    padding-right: 0 !important;
	}

  .sender-status {
    padding-left: 38% !important;
  }

}


/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */


@media (max-width:568px) and (min-width:500px) {

	input#sender_name, input#sender_telephone, input#sender_email{
    text-align: center !important;
	}

  .sender-status {
    padding-left: 41% !important;
  }
} 

@media (max-width:568px) and (min-width:500px) {
    .send-name, .send-telephone, .send-email, .send-status {
    text-align: center !important;
  }
}