
.transporter-Showlabels {
  text-align: right !important; 
}

.transporter-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
} 

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 767px) and (orientation : portrait) {
  
	.transporter-Showlabels {
  	max-width: 47% !important;
      padding-right:0 !important;
      text-align: right !important; 
	}

	.transporter-Showinputs {
  	max-width: 53% !important;
      padding-right: 0 !important;
      text-align: left !important; 
	} 

}

/* ========================================================= */

/*
@media (max-width: 576px) and (orientation : portrait) {

	.name, .telephone, .email, .status {
		text-align: center !important;
	}

	.sender-name, .sender-telephone, .sender-email, .sender-status {
	    text-align: center !important;
	}

	.sender-status-card {
		width: 100% !important;
	}

}*/

@media (max-width: 568px) and (min-width: 500px) {
  .transporter-Showlabels, .transporter-Showinputs {
    text-align: center !important;    
  }

  .transporter-Showinputs {
    max-width: none !important;
  }

  .transporter-show-Status {
    padding-right: 3% !important;

  }
}


@media (max-width: 568px) and (min-width: 500px) {
  .company-Showlabels, .company-Showinputs {
    text-align: center !important;    
  }

  .company-Showinputs {
    max-width: none !important;
  }

  .company-show-Status {
    padding-right: 5% !important;

  }
}


