
.transporter-Showlabels {
  text-align: right !important; 
}

.transporter-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
} 


/*.showing-card {
	background-image: linear-gradient(141deg, #9fb8ad 0%, ##cc2b5e 51%, #753a88 75%) !important;
}*/

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 767px) and (orientation : portrait) {
  
 	/*.name, .telephone, .email, .status {
		font-size: 1.2rem !important;

	}

  	.sender-name, .sender-telephone, .sender-email, .sender-status {
		font-size: 1rem !important;
	}*/

	.transporter-Showlabels {
	max-width: 47% !important;
    padding-right:0 !important;
    text-align: right !important; 
	}

	.transporter-Showinputs {
	max-width: 53% !important;
    padding-right: 0 !important;
    text-align: left !important; 
	} 

}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

	.name, .telephone, .email, .status {
		text-align: center !important;
	}

	.sender-name, .sender-telephone, .sender-email, .sender-status {
	    text-align: center !important;
	}

	.sender-status-card {
		width: 100% !important;
	}

}



