<!--  Commented out when Checking payments as wasn't showing the correct information on the show/view and it seems it isnt needed-->

<!-- 

<div class="charge-form pt-4">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5">
				<%#= form_for @charge do |f| %>
					<div class="form-group">
						<%#= f.label :amount %>
						<%#= f.text_field :amount, class: "form-control" %>
					</div>
					<div>
						<%#= link_to "#{Order.human_attribute_name(:cancel_payment)}", root_path, class: "btn btn-outline-secondary" %>
						<%#= f.submit "#{Order.human_attribute_name(:pay)}", class: "btn btn-primary" %>
					</div>
				<%# end %>
			</div>
		</div>
	</div>
</div>

-->