<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if @sender.present? %>    
  
        <li class="nav-item">
          <%= link_to 'My Orders', sender_orders_path(@sender), class: 'nav-link' %>
        </li>
        <li class="nav-item">
         <%= link_to 'My Posted Orders', posts_sender_orders_path(@sender), class: 'nav-link', data: { turbolinks: false} %>
        </li>
  <%# Starts idendetified user when logged in %>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @sender.name %>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit', edit_sender_path(@sender), class: 'nav-link' %>
            <%#= link_to "Logout", destroy_user_session_path, method: :delete,class: "nav-link" %><%# SIGN OUT %>
          </div>
        </li>
<%# Finish idendetified user when logged in %>
      <% end %>
    </ul>
  </div>
</nav>


